In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv("climate_precip.csv")

In [7]:
df2 = pd.read_csv("climate_temp.csv")

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151110 entries, 0 to 151109
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   STATION                  151110 non-null  object
 1   STATION_NAME             151110 non-null  object
 2   DATE                     151110 non-null  int64
 3   DLY-PRCP-25PCTL          151110 non-null  float64
 4   DLY-SNWD-25PCTL          151110 non-null  int64
 5   DLY-SNOW-25PCTL          151110 non-null  float64
 6   DLY-PRCP-50PCTL          151110 non-null  float64
 7   DLY-SNWD-50PCTL          151110 non-null  int64
 8   DLY-SNOW-50PCTL          151110 non-null  float64
 9   DLY-PRCP-75PCTL          151110 non-null  float64
 10  DLY-SNWD-75PCTL          151110 non-null  int64
 11  DLY-SNOW-75PCTL          151110 non-null  float64
 12  MTD-PRCP-NORMAL          151110 non-null  float64
 13  MTD-SNOW-NORMAL          151110 non-null  float64
 14  YTD-PRCP-NORMAL          151110 non-null  float64
 15  YTD-SNOW-NORMAL          151110 non-null  float64
 16  DLY-PRCP-PCTALL-GE001HI  151110 non-null  int64
 17  DLY-PRCP-PCTALL-GE010HI  151110 non-null  int64
 18  DLY-PRCP-PCTALL-GE050HI  151110 non-null  int64
 19  DLY-PRCP-PCTALL-GE100HI  151110 non-null  int64
 20  DLY-SNWD-PCTALL-GE001WI  151110 non-null  int64
 21  DLY-SNWD-PCTALL-GE010WI  151110 non-null  int64
 22  DLY-SNWD-PCTALL-GE003WI  151110 non-null  int64
 23  DLY-SNWD-PCTALL-GE005WI  151110 non-null  int64
 24  DLY-SNOW-PCTALL-GE001TI  151110 non-null  int64
 25  DLY-SNOW-PCTALL-GE010TI  151110 non-null  int64
 26  DLY-SNOW-PCTALL-GE100TI  151110 non-null  int64
 27  DLY-SNOW-PCTALL-GE030TI  151110 non-null  int64
 28  DLY-SNOW-PCTALL-GE050TI  151110 non-null  int64
dtypes: float64(10), int64(17), object(2)
memory usage: 33.4+ MB

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127020 entries, 0 to 127019
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   STATION          127020 non-null  object
 1   STATION_NAME     127020 non-null  object
 2   ELEVATION        127020 non-null  object
 3   LATITUDE         127020 non-null  object
 4   LONGITUDE        127020 non-null  object
 5   DATE             127020 non-null  int64
 6   DLY-CLDD-BASE45  127020 non-null  int64
 7   DLY-CLDD-BASE50  127020 non-null  int64
 8   DLY-CLDD-BASE55  127020 non-null  int64
 9   DLY-CLDD-BASE57  127020 non-null  int64
 10  DLY-CLDD-BASE60  127020 non-null  int64
 11  DLY-CLDD-NORMAL  127020 non-null  int64
 12  DLY-CLDD-BASE70  127020 non-null  int64
 13  DLY-CLDD-BASE72  127020 non-null  int64
 14  DLY-HTDD-BASE40  127020 non-null  int64
 15  DLY-HTDD-BASE45  127020 non-null  int64
 16  DLY-HTDD-BASE50  127020 non-null  int64
 17  DLY-HTDD-BASE55  127020 non-null  int64
 18  DLY-HTDD-BASE57  127020 non-null  int64
 19  DLY-HTDD-BASE60  127020 non-null  int64
 20  DLY-HTDD-NORMAL  127020 non-null  int64
dtypes: int64(16), object(5)
memory usage: 20.4+ MB

In [10]:
df1.head()

,STATION,STATION_NAME,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100101,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100102,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100103,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100104,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100105,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,3,0,0,0,0,0,0,0,0,0

In [11]:
output = pd.merge(df1, df2)

In [12]:
output.head(10)

,STATION,STATION_NAME,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100101,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,0,0,0,-7777,1,2,6,7,10,15
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100102,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,0,0,0,-7777,1,2,6,7,10,15
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100103,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,0,0,0,-7777,1,2,5,7,10,15
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100104,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,0,0,0,-7777,1,2,5,7,10,15
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100105,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,0,0,0,-7777,-7777,2,5,7,10,15
5,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100106,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,0,0,0,-7777,-7777,2,5,7,10,15
6,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100107,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,0,0,0,-7777,-7777,2,5,7,10,15
7,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100108,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,0,0,0,-7777,-7777,2,5,7,9,14
8,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100109,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,0,0,0,-7777,-7777,2,5,7,9,14
9,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100110,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,0,0,0,-7777,-7777,2,5,7,9,14

In [13]:
output.to_csv("output.csv")

In [15]:
output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123005 entries, 0 to 123004
Data columns (total 47 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   STATION                  123005 non-null  object
 1   STATION_NAME             123005 non-null  object
 2   DATE                     123005 non-null  int64
 3   DLY-PRCP-25PCTL          123005 non-null  float64
 4   DLY-SNWD-25PCTL          123005 non-null  int64
 5   DLY-SNOW-25PCTL          123005 non-null  float64
 6   DLY-PRCP-50PCTL          123005 non-null  float64
 7   DLY-SNWD-50PCTL          123005 non-null  int64
 8   DLY-SNOW-50PCTL          123005 non-null  float64
 9   DLY-PRCP-75PCTL          123005 non-null  float64
 10  DLY-SNWD-75PCTL          123005 non-null  int64
 11  DLY-SNOW-75PCTL          123005 non-null  float64
 12  MTD-PRCP-NORMAL          123005 non-null  float64
 13  MTD-SNOW-NORMAL          123005 non-null  float64
 14  YTD-PRCP-NORMAL          123005 non-null  float64
 15  YTD-SNOW-NORMAL          123005 non-null  float64
 16  DLY-PRCP-PCTALL-GE001HI  123005 non-null  int64
 17  DLY-PRCP-PCTALL-GE010HI  123005 non-null  int64
 18  DLY-PRCP-PCTALL-GE050HI  123005 non-null  int64
 19  DLY-PRCP-PCTALL-GE100HI  123005 non-null  int64
 20  DLY-SNWD-PCTALL-GE001WI  123005 non-null  int64
 21  DLY-SNWD-PCTALL-GE010WI  123005 non-null  int64
 22  DLY-SNWD-PCTALL-GE003WI  123005 non-null  int64
 23  DLY-SNWD-PCTALL-GE005WI  123005 non-null  int64
 24  DLY-SNOW-PCTALL-GE001TI  123005 non-null  int64
 25  DLY-SNOW-PCTALL-GE010TI  123005 non-null  int64
 26  DLY-SNOW-PCTALL-GE100TI  123005 non-null  int64
 27  DLY-SNOW-PCTALL-GE030TI  123005 non-null  int64
 28  DLY-SNOW-PCTALL-GE050TI  123005 non-null  int64
 29  ELEVATION                123005 non-null  object
 30  LATITUDE                 123005 non-null  object
 31  LONGITUDE                123005 non-null  object
 32  DLY-CLDD-BASE45          123005 non-null  int64
 33  DLY-CLDD-BASE50          123005 non-null  int64
 34  DLY-CLDD-BASE55          123005 non-null  int64
 35  DLY-CLDD-BASE57          123005 non-null  int64
 36  DLY-CLDD-BASE60          123005 non-null  int64
 37  DLY-CLDD-NORMAL          123005 non-null  int64
 38  DLY-CLDD-BASE70          123005 non-null  int64
 39  DLY-CLDD-BASE72          123005 non-null  int64
 40  DLY-HTDD-BASE40          123005 non-null  int64
 41  DLY-HTDD-BASE45          123005 non-null  int64
 42  DLY-HTDD-BASE50          123005 non-null  int64
 43  DLY-HTDD-BASE55          123005 non-null  int64
 44  DLY-HTDD-BASE57          123005 non-null  int64
 45  DLY-HTDD-BASE60          123005 non-null  int64
 46  DLY-HTDD-NORMAL          123005 non-null  int64
dtypes: float64(10), int64(32), object(5)
memory usage: 45.0+ MB

In [16]:
output = pd.merge(df1, df2, on=["STATION_NAME", "DATE"])

In [17]:
output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123735 entries, 0 to 123734
Data columns (total 48 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   STATION_x                123735 non-null  object
 1   STATION_NAME             123735 non-null  object
 2   DATE                     123735 non-null  int64
 3   DLY-PRCP-25PCTL          123735 non-null  float64
 4   DLY-SNWD-25PCTL          123735 non-null  int64
 5   DLY-SNOW-25PCTL          123735 non-null  float64
 6   DLY-PRCP-50PCTL          123735 non-null  float64
 7   DLY-SNWD-50PCTL          123735 non-null  int64
 8   DLY-SNOW-50PCTL          123735 non-null  float64
 9   DLY-PRCP-75PCTL          123735 non-null  float64
 10  DLY-SNWD-75PCTL          123735 non-null  int64
 11  DLY-SNOW-75PCTL          123735 non-null  float64
 12  MTD-PRCP-NORMAL          123735 non-null  float64
 13  MTD-SNOW-NORMAL          123735 non-null  float64
 14  YTD-PRCP-NORMAL          123735 non-null  float64
 15  YTD-SNOW-NORMAL          123735 non-null  float64
 16  DLY-PRCP-PCTALL-GE001HI  123735 non-null  int64
 17  DLY-PRCP-PCTALL-GE010HI  123735 non-null  int64
 18  DLY-PRCP-PCTALL-GE050HI  123735 non-null  int64
 19  DLY-PRCP-PCTALL-GE100HI  123735 non-null  int64
 20  DLY-SNWD-PCTALL-GE001WI  123735 non-null  int64
 21  DLY-SNWD-PCTALL-GE010WI  123735 non-null  int64
 22  DLY-SNWD-PCTALL-GE003WI  123735 non-null  int64
 23  DLY-SNWD-PCTALL-GE005WI  123735 non-null  int64
 24  DLY-SNOW-PCTALL-GE001TI  123735 non-null  int64
 25  DLY-SNOW-PCTALL-GE010TI  123735 non-null  int64
 26  DLY-SNOW-PCTALL-GE100TI  123735 non-null  int64
 27  DLY-SNOW-PCTALL-GE030TI  123735 non-null  int64
 28  DLY-SNOW-PCTALL-GE050TI  123735 non-null  int64
 29  STATION_y                123735 non-null  object
 30  ELEVATION                123735 non-null  object
 31  LATITUDE                 123735 non-null  object
 32  LONGITUDE                123735 non-null  object
 33  DLY-CLDD-BASE45          123735 non-null  int64
 34  DLY-CLDD-BASE50          123735 non-null  int64
 35  DLY-CLDD-BASE55          123735 non-null  int64
 36  DLY-CLDD-BASE57          123735 non-null  int64
 37  DLY-CLDD-BASE60          123735 non-null  int64
 38  DLY-CLDD-NORMAL          123735 non-null  int64
 39  DLY-CLDD-BASE70          123735 non-null  int64
 40  DLY-CLDD-BASE72          123735 non-null  int64
 41  DLY-HTDD-BASE40          123735 non-null  int64
 42  DLY-HTDD-BASE45          123735 non-null  int64
 43  DLY-HTDD-BASE50          123735 non-null  int64
 44  DLY-HTDD-BASE55          123735 non-null  int64
 45  DLY-HTDD-BASE57          123735 non-null  int64
 46  DLY-HTDD-BASE60          123735 non-null  int64
 47  DLY-HTDD-NORMAL          123735 non-null  int64
dtypes: float64(10), int64(32), object(6)
memory usage: 46.3+ MB

In [18]:
filter_prec_df = df1[df1['STATION'] == 'GHCND:USC00049099']

In [19]:
filter_prec_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   STATION                  365 non-null    object
 1   STATION_NAME             365 non-null    object
 2   DATE                     365 non-null    int64
 3   DLY-PRCP-25PCTL          365 non-null    float64
 4   DLY-SNWD-25PCTL          365 non-null    int64
 5   DLY-SNOW-25PCTL          365 non-null    float64
 6   DLY-PRCP-50PCTL          365 non-null    float64
 7   DLY-SNWD-50PCTL          365 non-null    int64
 8   DLY-SNOW-50PCTL          365 non-null    float64
 9   DLY-PRCP-75PCTL          365 non-null    float64
 10  DLY-SNWD-75PCTL          365 non-null    int64
 11  DLY-SNOW-75PCTL          365 non-null    float64
 12  MTD-PRCP-NORMAL          365 non-null    float64
 13  MTD-SNOW-NORMAL          365 non-null    float64
 14  YTD-PRCP-NORMAL          365 non-null    float64
 15  YTD-SNOW-NORMAL          365 non-null    float64
 16  DLY-PRCP-PCTALL-GE001HI  365 non-null    int64
 17  DLY-PRCP-PCTALL-GE010HI  365 non-null    int64
 18  DLY-PRCP-PCTALL-GE050HI  365 non-null    int64
 19  DLY-PRCP-PCTALL-GE100HI  365 non-null    int64
 20  DLY-SNWD-PCTALL-GE001WI  365 non-null    int64
 21  DLY-SNWD-PCTALL-GE010WI  365 non-null    int64
 22  DLY-SNWD-PCTALL-GE003WI  365 non-null    int64
 23  DLY-SNWD-PCTALL-GE005WI  365 non-null    int64
 24  DLY-SNOW-PCTALL-GE001TI  365 non-null    int64
 25  DLY-SNOW-PCTALL-GE010TI  365 non-null    int64
 26  DLY-SNOW-PCTALL-GE100TI  365 non-null    int64
 27  DLY-SNOW-PCTALL-GE030TI  365 non-null    int64
 28  DLY-SNOW-PCTALL-GE050TI  365 non-null    int64
dtypes: float64(10), int64(17), object(2)
memory usage: 85.5+ KB

In [20]:
output1 = pd.merge(filter_prec_df, df2, on=["STATION_NAME", "DATE"])

In [21]:
output1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   STATION_x                365 non-null    object
 1   STATION_NAME             365 non-null    object
 2   DATE                     365 non-null    int64
 3   DLY-PRCP-25PCTL          365 non-null    float64
 4   DLY-SNWD-25PCTL          365 non-null    int64
 5   DLY-SNOW-25PCTL          365 non-null    float64
 6   DLY-PRCP-50PCTL          365 non-null    float64
 7   DLY-SNWD-50PCTL          365 non-null    int64
 8   DLY-SNOW-50PCTL          365 non-null    float64
 9   DLY-PRCP-75PCTL          365 non-null    float64
 10  DLY-SNWD-75PCTL          365 non-null    int64
 11  DLY-SNOW-75PCTL          365 non-null    float64
 12  MTD-PRCP-NORMAL          365 non-null    float64
 13  MTD-SNOW-NORMAL          365 non-null    float64
 14  YTD-PRCP-NORMAL          365 non-null    float64
 15  YTD-SNOW-NORMAL          365 non-null    float64
 16  DLY-PRCP-PCTALL-GE001HI  365 non-null    int64
 17  DLY-PRCP-PCTALL-GE010HI  365 non-null    int64
 18  DLY-PRCP-PCTALL-GE050HI  365 non-null    int64
 19  DLY-PRCP-PCTALL-GE100HI  365 non-null    int64
 20  DLY-SNWD-PCTALL-GE001WI  365 non-null    int64
 21  DLY-SNWD-PCTALL-GE010WI  365 non-null    int64
 22  DLY-SNWD-PCTALL-GE003WI  365 non-null    int64
 23  DLY-SNWD-PCTALL-GE005WI  365 non-null    int64
 24  DLY-SNOW-PCTALL-GE001TI  365 non-null    int64
 25  DLY-SNOW-PCTALL-GE010TI  365 non-null    int64
 26  DLY-SNOW-PCTALL-GE100TI  365 non-null    int64
 27  DLY-SNOW-PCTALL-GE030TI  365 non-null    int64
 28  DLY-SNOW-PCTALL-GE050TI  365 non-null    int64
 29  STATION_y                365 non-null    object
 30  ELEVATION                365 non-null    object
 31  LATITUDE                 365 non-null    object
 32  LONGITUDE                365 non-null    object
 33  DLY-CLDD-BASE45          365 non-null    int64
 34  DLY-CLDD-BASE50          365 non-null    int64
 35  DLY-CLDD-BASE55          365 non-null    int64
 36  DLY-CLDD-BASE57          365 non-null    int64
 37  DLY-CLDD-BASE60          365 non-null    int64
 38  DLY-CLDD-NORMAL          365 non-null    int64
 39  DLY-CLDD-BASE70          365 non-null    int64
 40  DLY-CLDD-BASE72          365 non-null    int64
 41  DLY-HTDD-BASE40          365 non-null    int64
 42  DLY-HTDD-BASE45          365 non-null    int64
 43  DLY-HTDD-BASE50          365 non-null    int64
 44  DLY-HTDD-BASE55          365 non-null    int64
 45  DLY-HTDD-BASE57          365 non-null    int64
 46  DLY-HTDD-BASE60          365 non-null    int64
 47  DLY-HTDD-NORMAL          365 non-null    int64
dtypes: float64(10), int64(32), object(6)
memory usage: 139.7+ KB